db.sqlite3
.vscode/
.vs
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
media
.history
/env
.env 
.venv
env/ 
vassals
.vassals
/vassals
vassals/
uapp/static/public/uploaded/
static/public/uploaded/
uapp/static/public/images/
static/public/images/
/uapp/static/public/uploaded/
/static/public/uploaded/
/uapp/static/public/images/
/static/public/images/
teamplates/quizes/public/ucore-images/
/teamplates/quizes/public/ucore-images/
venv/ 
ENV/ 
env.bak/ 
venv.bak/
/__pycache__
__pycache__/
*.log
*.pot
*.pyc
