{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{% static 'quizes/img/favicon.ico' %}">

    <title>Авторизация</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'quizes/css/signin.css' %}">
  </head>

  <body>
    <div class="blockfor-signin"></div>
    <div class="formfor-signin">
      <div class="text-center">
        <img src="{% static 'quizes/img/Group.png' %}" alt=""/>
      <h1 class="h3 mb-3 font-weight-normal" style="color: white">Пожалуйста, войдите в систему</h1>
      </div>
      <form class="form-signin" method="POST">
        {% csrf_token %}
       
       
        <label for="inputName" class="sr-only">Введите ИИН</label>
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="ИИН" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Введите пароль..." required>
        <div class="text-center">
          <div class="checkbox mb-3">
            <label>
              <a href="https://u-test.kz/doc/">Публичная оферта на предоставление услуг</a>
            </label>
          </div>
          <input class="btn btn-primary" type="submit" value="Войти" style="width: 100%"> <a href="{%url 'mainpage' %}"></a>
          <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Войти</button> -->
          <p class="mt-5 mb-3 text-muted">&copy; U - Study</p>
        </div>
      </form>
    </div>
    <style>
      label {
        font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
      }
    </style>
  </body>
</html>
