p, ul, li{
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

.home-container {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 1px 12px 2px rgb(34 60 80 / 20%);
    margin-bottom: 100px;
    padding-bottom: 15px;
}
.button-test {
    background-color: white;
    border: none;
}
.result__header {
    border-bottom: 2px solid #EEEEEE;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-between;
    display: flex;

}
.resulit__inner-main {
    background-image: url(../img/footer-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.result-container {
    margin: 0 100px;
}
.result__info-left {
    width: 280px;
}
.result__info {
    display: flex;
    padding-bottom: 20px;
}
.result__info-left-text div {
    width: 30px;
}
.result__info-left-text {
    display: flex;
    font-size: 20px;
    margin-bottom: 1rem;
}
.result-past {
    display: flex;
    justify-content: center;
}
.tables__header {
    background: rgb(81,128,238);
background: linear-gradient(32deg, rgba(81,128,238,1) 0%, rgba(45,213,252,1) 100%);
}
.accordion {
    padding-bottom: 30px;
}
.btn-mine {
    border-radius: 30px;
    padding: 10px 20px;
}
.home-content {
    display: flex;
    
    align-items: center;
    padding: 50px 0;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.asd:hover{
    color: white;
}
.home-left-side {
    text-align: center;
    width: 47%;
}
.home-left-side p {
    text-align: left;
    padding: 20px;
}
.home-about {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-left: 24px;
}
.home-icons {
    display: flex;
    align-items: center;
}
.about-inf {
    padding-left: 24px;
    padding-bottom: 24px;
    padding-top: 10px;
}
.about-inf_ineer {
    display: flex;
    align-items: center;
}
.btn-size {
    padding-left: 30px!important;
    padding-right: 30px!important;
    margin-right: 20px;
}
.chose-klass {
    display: flex;
    margin-top: 10px;
}
.card {
    width: 30%;
    margin-left: 30px;
}
.card-body, .card-header{
    text-align: center;
}
.card-choose {
    text-align: left;
}
.card-title span {
    font-size: 20px;
    font-style: italic;
}
.pt-10 {
    margin-bottom: 10px;
}
.form-select {
margin-top: 10px;
}
.start-btn {
    text-decoration: none;
    color: white;
}
.start-btn:hover {
    color: white;
}
.cardd-body {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0px 1px 12px 2px rgb(34 60 80 / 20%);
    padding: 30px;
    margin: 30px 0;
}
.cardd-body p {
    margin-bottom: 0!important;
}
.card-title {
    font-size: 25px;
    padding-bottom: 15px;
}
.card-radio {
    margin-right: 10px;
    margin-left: -5px!important;
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.card-variants {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
    font-size: 18px;
}
.ul-index {
    display: flex;
}
.li-index {
    padding-right: 35px;
}
.form-select {
    margin-bottom: 20px;
}
.end-it {
    display: flex;
    justify-content: end;
}

.test-img {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.form-check {
    border: 1px solid #e3e3e3;
    padding: 9px 10px;
    border-radius: 4px;
    margin-bottom: 1rem!important;
    width: 100%;
}
.q-block {
    display: flex;
}
.q-block p {
    font-size: 25px;
    width: 30px;
}
.card-radio:checked + label {
font-weight: 600;
font-size: 17px;
}
.result-block {
    text-align: center;
    margin-top: 100px;
}
.result-title {
    font-size: 25px;
}
.result-subtitle {
    font-size: 20px;
    font-weight: bold;
}
.result-body {
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
width: 60%;
}
.correct {
    padding: 25px;
    border-radius: 74px;
    margin: 9px;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    font-weight: 700;
    background: rgb(193,229,190);
background: linear-gradient(0deg, rgba(193,229,190,1) 20%, rgba(142,195,122,1) 100%, rgba(69,69,69,1) 149%);
}
.total {
    padding: 25px;
    border-radius: 74px;
    margin: 9px;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    font-weight: 700;
    background: rgb(69,69,69);
    background: linear-gradient(0deg, rgba(69,69,69,1) 20%, rgba(92,92,92,1) 100%, rgba(119,119,119,1) 149%);
}
.wrong {
    padding: 25px;
    border-radius: 74px;
    margin: 9px;
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
    font-weight: 700;
    background: rgb(237,120,140);
background: linear-gradient(0deg, rgba(237,120,140,1) 20%, rgba(255,185,185,1) 100%, rgba(255,174,166,1) 149%);
}
.correct-block {
    margin: 50px 50px;
}
.correct-block p {
    width: 74px;
    font-weight: 600;
}
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}
.navbar {		
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #555;
	padding-left: 0;
	padding-right: 50px;
	font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
	font-size: 20px;
	margin-right: 5px;
}
.search-box {
	position: relative;
}	
.search-box input {
	box-shadow: none;
	padding-right: 35px;
	border-radius: 3px !important;
}
.search-box .input-group-addon {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.open > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
	color: #333;
}	
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .badge {
	color: #fff;
	background: #f44336;
	font-size: 11px;
	border-radius: 20px;
	position: absolute;
	min-width: 10px;
	padding: 4px 6px 0;
	min-height: 18px;
	top: 5px;
}
.navbar a.notifications, .navbar a.messages {
	position: relative;
	margin-right: 10px;
}
.navbar a.messages {
	margin-right: 20px;
}
.navbar a.notifications .badge {
	margin-left: -8px;
}
.navbar a.messages .badge {
	margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
	}
	.input-group {
		width: 100%;
	}
}
.end-it {
    margin-bottom: 100px;
}
.result-tables_block {
    background-color: white;
    padding: 20px;
    border-radius: 0.875rem;
    margin-top: 50px;
}
.table-header {
    background-color: #30AAE2;
    border-top-left-radius: 5px 5px;
  }
.tr-one:hover {
    background-color: #f2f2f2;
}
.mb-100 {
    margin-bottom: 100px;
}
.navs-bor {
    background-color: #0d6efd;
    
    border-radius: 5px;
    margin-left: 20px;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
}
.navs-bor a {
    color: white!important;
}
.test-text {
    font-size: 20px;
}
tbody:nth-child(odd) {
    background-color: #f5f5f5;
}

.d-cont {
    display: flex;
    margin-top: 50px;
}
@media screen and (max-width: 990px) {
    .home-right-side {
        display: none;
    }
    .home-left-side {
        width: 80%;
    }
    .home-content {
        justify-content: center;
    }
    .card {
        width: 100%;
        margin-left: 0px;
    }
    .d-cont {
        display: block;
    }
}
#ppoo {
    display: none;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    z-index: 30;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .modalbek{
    background-color: white;
    width: 350px;
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    padding: 50px;
  }
  .modalbek-title {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px
  }
  .modalbek-text {
    color: #677985;
    font-family: 700;
  }
  .modalbek-text span {
    color: black;
    font-style: italic;
  }
  .modalbek-close {
    background-color: rgb(255, 129, 106);
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
  }
  .modalbek-close:hover {
    opacity: .8;
  }
  .modalbek-close:active {
    background-color: red;
  }
  .modalbek-start{
    background-color: #3f51b5;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
  }
  .modalbek-start:hover {
    opacity: .8;
  }
  .modalbek-start:active {
    background-color: #0025f5;
  }

  .main-img {
    position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}
.main-title {
    color: #3374B6;
    font-family: 'Lora', serif;
    font-size: 50px;
    
}
.ugl-img {
    position: absolute;
    right: 0;
    bottom: 0;
}
.btn-btn a {
    background-color: #3374B6;
    padding: 10px 35px;
    color: white;
    border-radius: 0.875rem;
    transition: .2s;
}
.btn-btn a:hover {
    background-color: black;
    color: white;
}
.btn-serr {
    background-color: #3374B6;
    padding: 10px 35px;
    color: white;
    border-radius: 0.875rem;
    transition: .2s;
}
.btn-serr:hover {
    background-color: black;
    color: white;
}
.setting-btns {
    position: absolute;
    top: 15px;
    right: 100px;
}
.computer-img img{
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 20px;
}
/*.main-body {
    background-image: url(../img/main-bg.jpeg);
  
    background-repeat: no-repeat;
}*/